html{
  font-family: "CooperHewitt";
}
body{
  font-family: "Roboto";
}

img {
  image-orientation: from-image;
}

#header{
  background-image: url('../img/header/BoardGreen.jpg');
  /* background-color: #009c77; */
}
.thumb-size {
  height: 200px;
  width: 200px;
}

.flex {
  display: flex !important;
}

.container-item-img {
  max-width: 200px;
}

.no-file {
  cursor:pointer;
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.card--selfie:hover #edit_icon {
  display: block;
}

.card--selfie #edit_icon{
  display: none;
  text-align: right;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #009c77;
}

.dropdown-menu--notifications {
  left: -150px;
}

.cursor-pointer {
  cursor: pointer;
}

.card--selfie {
  cursor: pointer;
}

#header img{
  width: 400px;
}

.nav-link {
  cursor: pointer;
}

.hidden {
  display: none;
}

small{
  color: #949393;
}

textarea::placeholder {
  font-style: italic;
  font-size: 14px;
}

.placeholderclass::before{
width:100%;
content:attr(placeholder);
}

.placeholderclass:hover::before{
width:0%;
content:"";
}

.invalid-validation {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-fr{
  background-color: #009c77;
  color:white  !important;
}

.btn-fr:hover{
  background-color: #00b283;
  color:white;
}

.line-through {
  text-decoration: line-through;
}

.green-color {
  color: #009c77;
}

.green-background {
  background: #009c77;
}

.green-border-button {
  color: #009c77;
  border-color: #009c77;
}

.green-border-button:hover {
  color: #fff;
  background-color: #009c77;
}

.green-link {
  color: #009c77;
}

.green-link:hover {
  color: #009c77;
  font-style: none;
}

.thumb-img-public {
  cursor: pointer;
}

.thumb-img-public:hover {
  border: 3.5px solid #009c77;
  box-shadow: 0 1.5rem 3.5rem rgba(0,0,0,.175)!important;
  border-radius: .25rem!important;
}


.custom-file-label::after {
  content: "Elegir";
}

#main .carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
}

.TituloFR{
  font-family: CooperHewittM;
  color: #009c77;
}

div a{
  text-align: center !important;
}

.card--item {
  cursor: pointer;
}

.card--public:hover{
  border: 3.5px solid #009c77;
  box-shadow:0 1.5rem 3.5rem rgba(0,0,0,.175)!important;
}

@media (max-width: 700px) {
  .container-img-thumbs, .container-img{
    display: none;
  }

  .container-img-slide{
    display: block;
  }
}

@media (min-width: 701px) {
  .container-img-thumbs, .container-img{
    display: block;
  }
  .container-img-slide{
    display: none;
  }
}

#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
  height:100%;
}


#footer{
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
  /* background: #1c3643; */
  /* background: linear-gradient(90deg, #333, #333 25%, #eee); */
}

#footer a{
  color: white;
}

.custom-file-label--profile {
  height: 90px;
  width: 80px;
  border-radius: 0px;
  background: url('../img/default.png');
  border: 1px solid #adadad;
}

.custom-file-label--profile::after {
  content:'';
  padding: 0px;
  border-left: 0px;
}

.custom-file p{
    height: 90px;
    padding-top: 30px;
    padding-left: 100px;
}

.card-img-top {
    max-height: 12rem;
    object-fit: cover;
}

.yellow {
  color: #fdd234;
}

.gray {
  color: #ccc;
}

.dot {
    height: 25px;
    width: 25px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
}

.dot-blue
{
    background-color: blue;
}

.dot-red
{
    background-color: red;
}

.dot-green
{
    background-color: green;
}

.dot-yellow
{
    background-color: yellow;
}

.badge-fr{
    background-color: #009c77;
    color: white;
    margin-left: .25rem;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.irs-bar, .irs-from, .irs-to
{
    background-color: #009c77 !important;
    font-size: 10px !important;
}

.irs-handle
{
    border-color: #009c77 !important;
}

.irs-grid-text, .irs-min, .irs-max
{
    font-size: .5rem !important;
}

.card--file-item {
  background-color: #f1f1f1;
  cursor: pointer;
  height: 200px;
  text-align: center;
  display: table;
  width: 100%;
  max-width: 200px;
}

.card--file-item span {
  color:rgba(0, 0, 0, 0.13);
  display: table-cell;
  vertical-align: middle;
}

.card--file-item::after {
    content: "";
    padding: 0px;
    border-left: 0px;
}
/* // Extra small devices (portrait phones, less than 576px)  No media query for `xs` since this is the default in Bootstrap */
/* // Small devices (landscape phones, 576px and up) */
/* @media (max-width: 576px) {
  #header img{
    width: 200px;
  }

} */

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #header img{
    width: 250px;
  }
 }

/*
/* // Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}



